.root {
	overflow: hidden;
	border-radius: 50%;
}

.img {
	width: 100%;
	height: 100%;
}

.s {
	width: 24px;
	height: 24px;
}

.m {
	width: 36px;
	height: 36px;
}

.l {
	width: 48px;
	height: 48px;
}
