.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 90vw;
	height: 1px;
	padding: 24px 0;
	margin: 0 auto;
}

.root > *:not(:last-child) {
	margin-bottom: 24px;
}

.expert-section,
.title-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.tabs {
	justify-content: center;
	box-shadow: none;
}

.description,
.comments-section {
	padding: 12px;
	overflow: auto;
	box-shadow: var(--default-elevation);
}

.description {
	width: 100%;
	height: 25%;
}

.comments-section {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding: 12px;

	.comments-section-list {
		flex-grow: 1;
		height: 1px;
		overflow: auto;
	}

	.comments-section-input {
		display: flex;
		align-items: end;
	}

	.comments-section-input textarea {
		border-bottom: 1px solid var(--g-color-private-black-300);
	}

	.comments-section-input textarea:focus {
		border-bottom: 1px solid var(--g-color-private-black-650);
	}
}
