.root {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
}

.cards-list {
	flex-grow: 1;
	height: 1px;
	padding: 10px 8vw;
	overflow: auto;
}

.cards-list > *:not(:last-child) {
	margin-bottom: 10px;
}
